.formIn {
  -webkit-animation-name: formIn;
  -moz-animation-name: formIn;
  -o-animation-name: formIn;
  animation-name: formIn; }

@-webkit-keyframes formIn {
  0% {
    -webkit-transform: scale(1); }

  10%, 20% {
    -webkit-transform: scale(0.2); }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1) rotate(1deg); }

  40%, 60%, 80% {
    -webkit-transform: scale(1) rotate(-1deg); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }

@-moz-keyframes formIn {
  0% {
    -moz-transform: scale(1); }

  10%, 20% {
    -moz-transform: scale(0.2); }

  30%, 50%, 70%, 90% {
    -moz-transform: scale(1) rotate(1deg); }

  40%, 60%, 80% {
    -moz-transform: scale(1) rotate(-1deg); }

  100% {
    -moz-transform: scale(1) rotate(0); } }

@-o-keyframes formIn {
  0% {
    -o-transform: scale(1); }

  10%, 20% {
    -o-transform: scale(0.2); }

  30%, 50%, 70%, 90% {
    -o-transform: scale(1) rotate(1deg); }

  40%, 60%, 80% {
    -o-transform: scale(1) rotate(-1deg); }

  100% {
    -o-transform: scale(1) rotate(0); } }

@keyframes formIn {
  0% {
    transform: scale(1); }

  10%, 20% {
    transform: scale(0.2); }

  30%, 50%, 70%, 90% {
    transform: scale(1) rotate(1deg); }

  40%, 60%, 80% {
    transform: scale(1) rotate(-1deg); }

  100% {
    transform: scale(1) rotate(0); } }

body {
  font-family: Georgia, serif;
  margin: 20px auto;
  overflow: hidden; }

.formView {
  width: 400px;
  margin: 100px auto;
  padding: 5px;
  background-color: #EEE;
  -webkit-animation: formIn 1s ease-in-out;
  -moz-animation: formIn 1s ease-in-out;
  -ms-animation: formIn 1s ease-in-out;
  -o-animation: formIn 1s ease-in-out;
  animation: formIn 1s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eee; }
  .formView #form {
    margin: 0; }
    .formView #form h2 {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #455863;
      text-align: center; }
    .formView #form .msg {
      width: 350px;
      font-size: 20px;
      margin: auto auto 10px auto;
      padding: 10px;
      background-color: #e5e5e5;
      display: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #eee; }
      .formView #form .msg.error {
        color: #ff0000; }
      .formView #form .msg.success {
        color: #00800; }
    .formView #form input {
      display: block;
      text-align: center;
      margin: 10px auto;
      padding: 10px; }
      .formView #form input[type="text"] {
        width: 300px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #eee;
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
        -moz-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
        box-shadow: 0px 1px 3px 0px #e5e5e5 inset; }
      .formView #form input[type="submit"] {
        width: 100px; }
    .formView #form textarea {
      display: block;
      padding: 10px;
      width: 300px;
      margin: auto;
      resize: vertical;
      text-align: center;
      min-height: 50px;
      max-height: 200px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #eee;
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
      -moz-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
      box-shadow: 0px 1px 3px 0px #e5e5e5 inset; }
