@import "animations.scss";

body {
  font-family : Georgia, serif;
  margin      : 20px auto;
  overflow    : hidden;
}

.formView {
  width                 : 400px;
  margin                : 100px auto;
  padding               : 5px;
  background-color      : #EEE;
  -webkit-animation     : formIn 1s ease-in-out;
  -moz-animation        : formIn 1s ease-in-out;
  -ms-animation         : formIn 1s ease-in-out;
  -o-animation          : formIn 1s ease-in-out;
  animation             : formIn 1s ease-in-out;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
  border-radius         : 3px;
  border                : 1px solid #eee;

  #form {
    margin : 0;

    h2 {
      font-family : Helvetica, Arial, sans-serif;
      font-weight : normal;
      color       : #455863;
      text-align  : center;
    }

    .msg {
      width                 : 350px;
      font-size             : 20px;
      margin                : auto auto 10px auto;
      padding               : 10px;
      background-color      : #e5e5e5;
      display               : none;
      -webkit-border-radius : 3px;
      -moz-border-radius    : 3px;
      border-radius         : 3px;
      border                : 1px solid #eee;

      &.error {
        color : #ff0000;
      }

      &.success {
        color : #00800;
      }

    }

    input {
      display    : block;
      text-align : center;
      margin     : 10px auto;
      padding    : 10px;

      &[type="text"] {
        width                 : 300px;
        -webkit-border-radius : 3px;
        -moz-border-radius    : 3px;
        border-radius         : 3px;
        border                : 1px solid #eee;
        -webkit-appearance    : textfield;
        -webkit-box-sizing    : content-box;
        -moz-box-sizing       : content-box;
        box-sizing            : content-box;
        -webkit-box-shadow    : 0px 1px 3px 0px #e5e5e5 inset;
        -moz-box-shadow       : 0px 1px 3px 0px #e5e5e5 inset;
        box-shadow            : 0px 1px 3px 0px #e5e5e5 inset;
      }

      &[type="submit"] {
        width : 100px;
      }
    }

    textarea {
      display               : block;
      padding               : 10px;
      width                 : 300px;
      margin                : auto;
      resize                : vertical;
      text-align            : center;
      min-height            : 50px;
      max-height            : 200px;
      -webkit-border-radius : 3px;
      -moz-border-radius    : 3px;
      border-radius         : 3px;
      border                : 1px solid #eee;
      -webkit-appearance    : textfield;
      -webkit-box-sizing    : content-box;
      -moz-box-sizing       : content-box;
      box-sizing            : content-box;
      -webkit-box-shadow    : 0px 1px 3px 0px #e5e5e5 inset;
      -moz-box-shadow       : 0px 1px 3px 0px #e5e5e5 inset;
      box-shadow            : 0px 1px 3px 0px #e5e5e5 inset;
    }
  }
}